html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body,
body * {
  -webkit-overflow-scrolling: touch;
}
body {
  background: #fff;
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
  -ms-filter: $filter;
  filter: $filter;
}

@mixin box-sizing() {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
}
